{% extends "base.html" %}

{% block content %}
<header>
    <h1>Register</h1>
</header>
<section class="register-form">
    <div class="alert" role="alert" style='visibility: hidden; display: none;'></div>
    <div class="form">
        <div class="form-group">
            <label for="username">Username :</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="fuland" aria-describedby="usernameHelpBlock">
            <span id="usernameHelpBlock" class="help-block">
                Pastikan username yang diberikan telah sesuai.
            </span>
        </div>
        <div class="form-group">
            <label for="password">Password :</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="email">Email address :</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="yourname@example.com" aria-describedby="emailHelpBlock">
            <span id="emailHelpBlock" class="help-block">
                Pastikan telah mengisi alamat email yang valid.
            </span>
        </div>
        <div class="form-group">
            <label for="nama_lengkap">Nama lengkap :</label>
            <input type="text" class="form-control" id="nama_lengkap" name="nama_lengkap" placeholder="Fuland Gundah Gulana" aria-describedby="namaHelpBlock">
            <span id="namaHelpBlock" class="help-block">
                Pastikan telah mengisi alamat email yang valid.
            </span>
        </div>
        <button type="submit" class="btn btn-primary" id="submit">Daftar</button>
    </div>
</section>
<form id="pre_data_profile" action="{{ url_for('users.profile') }}" method="post">
	<input type="hidden" id="uname" name="uname" value="">
	<input type="hidden" id="key" name="key" value="">
</form>
{% endblock %}

{% block javascript %}
{{ super() }}
<script src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock %}